{% extends 'base.html' %}
{% block content %}
<div class="col-md-8">
    <h3 class="my-4">Sign up </h3>
  <form method="post">
    {% csrf_token %}
    {% for field in form %}
      <div class="form-group">
          <label class="control-label">{{ field.label_tag }}</label>
        {{ field }}
        {% if field.help_text %}
          <small style="color: grey">{{ field.help_text }}</small>
        {% endif %}
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
      </div>
    {% endfor %}
    <button type="submit" class="btn btn-primary">Sign up</button>
  </form>
<p></p>
</div>
{% endblock %}