{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<div class="col-md-8">
    <h3 class="my-4"> Thread for {% if user != object.first %}{{ object.first }}{% else %}{{ object.second }}
    {% endif %}
   </h3>
    <ul id="chat-item">
        {% for chat in object.chatmessage_set.all %}
            <li>{{ chat.message }} via {{ chat.user }}</li>
        {% endfor %}
    </ul>
    <form id="Login" method="post" >
        <input type="hidden" id="myemail" value="{{ user.email }}">
        {% csrf_token %}

        {{ form.as_p }}
        <input type="submit" class="btn btn-primary">
    </form>
    <p></p>
</div>
{% endblock %}
{% block script %}
    <script src="{% static 'js/reconnecting-websocket.min.js' %}"></script>
    <script>
        var formDate = $("#Login");
        var loc = window.location;
        var message = $("#id_message");
        var chatHolder = $("#chat-item");
        var me = $("#myemail").val();
        var wsStart = 'ws://';
        if (loc.protocol == 'https:'){
            wsStart = 'wss://'
        }
        var endpoint = wsStart + loc.host + loc.pathname;
        var socket = new ReconnectingWebSocket(endpoint);

        socket.onmessage = function(e){
            console.log("message", e);
            var chatDataMsg = JSON.parse(e.data);
            chatHolder.append("<li>" + chatDataMsg.message + " via " + chatDataMsg.username+ "</li>")
        };
        socket.onopen = function(e){
            console.log("open", e);
            formDate.submit(function (event) {
                event.preventDefault();
                var msgText = message.val();
                // chatHolder.append("<li>" + msgText + " via " + me + "</li>")
                var finalData = {
                    'message': msgText
                };
                socket.send(JSON.stringify(finalData));
                formDate[0].reset()
            });
        };
        socket.onerror = function(e){
            console.log("error", e)
        };
        socket.onclose = function(e){
            console.log("close", e)
        };

    </script>
{% endblock %}